[submodule "common"]
	path = common
	url = git@github.com:Fannect/fannect-common.git
[submodule "fannect-common"]
	path = fannect-common
	url = https://fannectsubmodule:Fan14Connect@github.com/Fannect/fannect-common
